.modal-close {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-color: #000;
    background: url(../img/popup-cancel.png) no-repeat center center;
    opacity: 1;
}
.tabs {
    position: relative;
    margin: 100px auto;
    width: 854px;
    .tab {
        float: left;
        [type=radio] {
            display: none;
            &:checked ~ label {
                background: #fff;
                color: #5b5b5b;
                font-weight: 600;
            }
            &:checked ~ .content {
                display: block;
            }
        }
        label.tab-header {
            display: block;
            cursor: pointer;
            height: 46px;
            width: 150px;
            text-align: center;
            line-height: 42px;
            background: #55b8b7;
            border-radius: 3px;
            font-size: 15px;
            font-weight: 300;
            color: #fff;
            text-transform: uppercase;
        }
        .content {
            width: 854px;
            display: none;
            position: absolute;
            left: 0;
            top: 40px;
            background: #fff;
            padding: 40px;
            border-radius: 3px;
            font-size: 15px;
            color: #5b5b5b;
            .box-login {
                margin: 0;
                position: relative;
                #message_error {
                    border: none;
                    background: none;
                    box-shadow: none;
                    padding: 0 0 10px;
                    color: #EF4D4D;
                }
            }            
            span {
                font-size: 15px;
                color: #5b5b5b;
                font-weight: 300;
            }
            form {
                padding-right: 40px;
                padding-left: 0;
                border-right: 1px solid #e9e9e9;
                .form-control {
                    height: 40px;
                    width: 100%;
                    background-color: #e9e9e9;
                    border: none;
                    border-radius: 3px;
                    box-shadow: none;
                    margin-bottom: 20px;
                    margin-top: 8px;
                }
                .login {
                    @extend label.tab-header;
                    background: #55b8b7;
                    color: #fff;
                    margin-right: 20px;
                    float: left;
                    display: inline-block;
                    width: auto;
                    padding: 0 35px;
                    border: none;
                    height: 40px;
                    font-size: 16px;
                    &:hover {
                        background-color: #999;
                    }
                }
                .checkbox {
                    float: left;
                }
                .forgot-pass {
                    margin-top: 20px;
                    a {
                        font-size: 15px;
                        font-weight: 700;
                        color: #5b5b5b;
                        &:hover {
                            color: #55b8b7;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .group-social {
                padding-top: 50px;
                padding-left: 40px;
                vertical-align: middle;
                text-align: center;
                .list-social {
                    margin-top: 50px;
                    a {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border-radius: 3px;
                        background-color: #000;
                        background-size: cover;
                        background-position: center center;
                        margin-right: 15px;
                        &:hover {
                            box-shadow: 0.5px 0px 3px #919191;
                        }
                        &.facebook {
                            background: url(../img/signup-facebook.png) no-repeat;
                        }
                        &.google {
                            background: url(../img/signup-google.png) no-repeat;
                        }
                        &.github {
                            background: url(../img/signup-github.png) no-repeat;
                        }
                    }
                }
            }
            .send-pass {
                display: none;
                form {
                    position: relative;
                    width: 338px;
                    padding-right: 0;
                    border-right: none;
                    .forgot-pass {
                        margin-top: 0;
                        margin-bottom: 20px;
                        span {
                            color: #55b8b7;
                            font-size: 15px;
                            font-weight: 700;
                        }
                    }
                }

            }
        }
    }
    .signup {
        .content {
            width: 418px;
            form {
                width: 338px;
                padding-right: 0;
                border-right: none;
                }
                .form-control {

            }
        }

    }
}