.series-new {
    padding-left: 0;
}
.top-group {
    padding-bottom: 22px;
    //border-bottom: 1px solid #e1e1e1;
    margin: 0 0 22px 0;
    img {
        width: 80px;
        height: 80px;
        background-size: cover !important;
        background-position: center !important;
        border: 1px solid #f1f1f1;
        float: left;
        margin-right: 15px;
    }
    .caption-name {
        width: 130px;
        float: left;
        span.name-group {
            color: #000;
            font-size: 18px;
            font-weight: 600;
            text-transform: capitalize;
            line-height: 20px;
            display: block;
            margin-bottom: 12px;
        }
    }
    ul.mini-post {
        li a {
            font-size: 12px;
            color: #878787;
            padding-left: 22px;
        }
        li.post-view {
            background: url(../img/icon-pencil.png) no-repeat center left;
        }
        li.post-follower {
            background: url(../img/icon-user2.png) no-repeat center left;
        }
    }
}
.top-series {
    //border-bottom: 1px solid #e1e1e1;
    //padding-bottom: 20px;
    margin-bottom: 20px;
    .name-series {
        color: #000;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
    }
    .mini-post {
        margin-top: 5px;
    }
    li.post-view {
        background: url(../img/icon-pencil3.png) no-repeat 14% center;
        background-color: #000;
        width: 80px;
        height: 20px;
        padding-left: 28px;
        a {
            color: #e1df19;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            text-transform: capitalize;
        }
    }
}
    button.viewall {
    margin-top: 15px;
    background: #d9d9d9;
    width: 100%;
    text-align: center;
    color: #464646;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
    margin-bottom: 20px;
 }
.content-group {
    background: #f7f7f7;
    border: 1px dashed #7e7e7e;
    text-align: center;
    padding: 115px 0 145px;
    p {
        color: #000;
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .join-group {
        font-size: 20px;
        color: #010101;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        button {
            width: 130px;
            height: 25px;
            padding: 0;
            line-height: 25px;
            background: #000;
            color: #e1df19;
            font-size: 13px;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            border: 0;
            margin-left: 8px;
            margin-right: 8px;
            transition: 0.3s ease-out;
            &:hover {
                color: #fff;
            }
        }
        a {
            width: 130px;
            height: 25px;
            padding: 0;
            line-height: 25px;
            background: #000;
            color: #e1df19;
            font-size: 13px;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            border: 0;
            margin-left: 8px;
            margin-right: 8px;
            transition: 0.3s ease-out;
            &:hover {
                color: #fff;
            }
        }
    }
}
/************** group-serive **********************/
.title-right.series {
    margin-bottom: 15px;
}
form.serive {
    border-top: 0;
    border-bottom: 1px dashed #b8b8b8;
    margin-bottom: 20px;
    padding-top: 28px;
    input.write {
        background: none;
        border: 0;
        box-shadow: none;
        outline: none;
        border-radius: 0;
        border-bottom: 1px dashed #b8b8b8;
        color: #525252;
        font-size: 20px;
        margin-bottom: 38px;
        font-family: 'Open Sans', sans-serif;
        height: 50px;
        font-weight: 700;
        font-style: italic;
    }
    textarea {
     border: 1px solid #e1e1e1;
     border-radius: 0;
     height: 124px;
     outline: none;
     box-shadow: none;
     margin-bottom: 46px;
     box-shadow: none;
     font-family: 'Open Sans', sans-serif;
    }
    .form-group {
        margin-bottom: 26px;
        span {
            float: left;
            color: #000;
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            line-height: 32px;
        }
        .col-lg-2 {
            padding-left: 0;
        }
        input {
            border: 1px solid #e1e1e1;
            border-radius: 0;
            color: #000;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            box-shadow: none;
        }
        p {
            margin: 0;
        }
        p.http-name {
            border: 1px solid #e1e1e1;
            color: #000;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            height: 30px;
            padding: 6px;
            padding-left: 10px;
        }
        p.text-box {
            border: 1px solid #e1e1e1;
            color: #000;
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            height: 60px;
            padding: 8px;
            padding-left: 10px;
        }
        p.text-box-heading {
            border: 1px solid #e1e1e1;
            color: #000;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            height: 50px;
            padding: 10px;
            padding-left: 10px;
        }
        img {
            width: 100%;
            height: 310px;
            background-position: center !important;
            background-size: cover !important;
        }
        .embed-responsive-group {
            iframe {
                width: 100%;
            }
        }
        textarea {
            width: 100%;
            height: 80px;
            padding: 8px;
            margin-bottom: 0;
        }
        .col-lg-3.select {
            padding-left: 30px;
        }
        select {
            border: 1px solid #e1e1e1;
            border-radius: 0;
            box-shadow: none;
            color: #000;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            text-transform: capitalize;
            background-color: #e5e4e4;
            background: -webkit-linear-gradient(#f2f2f2, #d4d4d4);
            background: -o-linear-gradient(#f2f2f2, #d4d4d4);
            background: -moz-linear-gradient(#f2f2f2, #d4d4d4);
            background: linear-gradient(#f2f2f2, #d4d4d4);

        }
        .delete {
            background: url(../img/icon-delete.png) no-repeat;
            width: 33px;
            height: 33px;
            float: left;
            cursor: pointer;
        }
        .add {
            background: url(../img/icon-add5.png) no-repeat;
            width: 33px;
            height: 33px;
            float: left;
            cursor: pointer;
            &:hover {
                background: url(../img/icon-add1.png) no-repeat;
            }
        }
    }
    .group-name {
        margin-bottom: 30px;
        padding-left: 30px;
        img {
            width: 60px;
            height: 60px;
            background-size: cover !important;
            background-position: center !important;
            float: left;
            border: 1px solid #f1f1f1;
        }
        span.name {
            color: #000;
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            margin-left: 10px;
            line-height: 60px;
        }
    }
    .public.form-group {
        padding-bottom: 20px;
    }
}
a.save {
    float: right;
    border: 1px solid #979797;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #626262;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #e5e4e4;
    background: -webkit-linear-gradient(#f2f2f2, #d4d4d4);
    background: -o-linear-gradient(#f2f2f2, #d4d4d4);
    background: -moz-linear-gradient(#f2f2f2, #d4d4d4);
    background: linear-gradient(#f2f2f2, #d4d4d4);
    &:hover {
        background: #000;
        color: #e1df19;
    }
}
.post-right .bloger-like {
    text-align: center;
}
.row {
    margin: 0;
}
.post-left {
    padding-left: 0;
}
.post-detail .post-right .box-top-post .list-top-post .top-post-detail a.top-post-img {
    padding-left: 0;
}
.post-right {
    padding-right: 0;
}
.post-detail .post-right .box-top-post .list-top-post {
    padding: 0px 15px 10px 15px;
}
.img-name {
    width: 80px;
    float: left;
    margin-right: 15px;
    img {
        margin-bottom: 8px;
    }
}
.box-info-author {
    width: 130px;
    float: left;
    a.email {
        color: #474747;
        font-size: 13px;
        font-weight: normal;
        margin-bottom: 5px;
        margin-top: 3px;
    }
    a.btn-follow-r {
        margin-top: 5px;
    }
}
.post-right .post-author .img-name .btn-follow-author button {
    border: 0;
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    background-color: #e1df19;
    padding: 0 0;
    width: 80px;
    background-image: none !important;
    border-radius: 0px !important;
}
.post-detail .post-right .box-top-post .list-top-post .top-post-detail .top-post-content {
    padding-right: 0;
}
.tags.author-tag .tag {
    float: left;
}
.menu-toc {
    float: right;
    margin-left: 8px;
    .menu-toc-title {
        color: #000;
        font-size: 13px;
        background: url("../img/icon-toc1.png") 20% center no-repeat;
        padding-left: 45px;
        text-decoration: none;
        &:after {
            display: none;
        }

    }
}
.post-left .box-comment .body-comment .content-comment .name-bloger-c {
    span.email {
        color: #929292;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }
}
.post-right .bloger-like ul.bloger-list li a {
    text-decoration: none;
}
.modal.in .modal-dialog {
    width: 335px;
    height: 420px;
    margin: 10% auto;
}
.modal-content {
    /*width: 335px;
    height: 420px;*/
    border-radius: 0;
    margin: 0 auto;
    box-shadow: none;
    .modal-header {
        padding: 0;
        border: 0;
        position: relative;
        h4 {
            background-color: #000;
            font-size: 14px;
            color: #fff;
            border-left: solid 14px #e1df19;
            line-height: 30px;
            padding-left: 10px;
            text-transform: capitalize;
        }
        button.close {
            background: url("../img/icon-close.png") no-repeat;
            position: absolute;
            right: 10px;
            top: 8px;
            width: 19px;
            height: 19px;
            opacity: 1;
        }
    }
    .modal-body {
        padding: 5px 0 0 15px ;
        height: 387px;
        overflow-x: hidden;
        ul.member-popup {
            li {
                display: inline-block;
                margin-top: 15px;
                img {
                    width: 54px;
                    height: 54px;
                    background-size: cover !important;
                    background-position: center !important;
                    float: left;
                }
                .caption-name {
                    float: left;
                    padding-left: 25px;
                    width: 235px;
                    a.name {
                        font-size: 14px;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: normal;
                        color: #343434;
                        text-transform: capitalize;
                        display: block;
                        text-overflow: ellipsis;
                    }
                    span {
                        display: block;
                        color: #878787;
                        font-weight: normal;
                        font-size: 12px;
                        font-family: 'Open Sans', sans-serif;
                        padding-left: 20px;
                    }
                    span.post-favou {
                        background: url(../img/icon-follow-right.png) left no-repeat;
                    }
                    span.post-view {
                        background: url(../img/icon-post-right.png) left no-repeat;
                    }
                }
            }
        }
    }
}
.fix-share {
    /*position: fixed;*/
    .box-menutoc {
        a.toc {
            background: url(../img/icon-toc1.png) center no-repeat;
        }
        li.boxtoc {
            position: relative;
            &:hover {
                ul.drop-toc {
                    display: block;
                }
            }
        }
        ul.drop-toc {
            display: none;
            width: 230px;
            height: 345px;
            background: #fff;
            position: absolute;
            top: -20px;
            left: 56px;
            border: 1px solid #c3c3c3;
            border-radius: 4px;
            z-index: 9999;  
            box-shadow: 0 0px 8px 0px #c3c3c3; 
            //overflow-y: scroll;
            overflow: hidden;   
            li {
                display: block;
                margin-top: 6px;
                text-align: left;
                padding: 0 15px;
                a {
                    color: #4588ce;
                    font-size: 14px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 500;
                    line-height: 19px;
                    height: auto;
                    margin: 0;
                    display: block;
                    width: 100%;
                }
                ul {
                    li {
                        margin: 0;
                        a {
                            color: #343434;
                            font-size: 12px;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 500;
                            margin: 0;
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
.post-box {
    float: right;
    p {
        color: #999;
        font-size: 14px;
        padding-left: 27px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        text-decoration: none;
        font-style: italic;
        &:after {
            display: none;
        }
    }
}
.box-post-info {
    margin-bottom: 0;
    display: block;
}
.box-info {
    float: left;
    width: 85%;
    p {
        font-weight: 600;
        font-style: italic; 
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #000;
        a.link {
            font-weight: normal;
        }
        a {
            color: #46adac;
        }
    }
}
.nav-tabs {
    border-bottom: none !important;
}

.post-filter-language {
    margin-top: 10px;
}

/*******************************************/
@media only screen and (max-width: 1200px) {
    footer .feedback-footer .box-feedback textarea {
        width: 100%;
    }
    form.serive .form-group .col-lg-2 {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    form.serive .form-group .col-lg-9 {
        padding-left: 0;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .post-right .bloger-like .btn-favorite {
        background: url(../img/icon-clip-post.png) 21px no-repeat;
        background-color: #000;
    }
}
@media only screen and (max-width: 1111px) {
    .share-social {
        position: static;
        .fix-share {
            position: static;
        }
    span {
        margin-top: 8px;
    }
    span, a {
        float: left;
        width: 55px;
     }
    }
    .post-text-content {
        clear: both;
    }
    .container {
        width: 100%;
    }
    .post-left .post-body {
        padding-left: 15px;
    }
    .post-left .helpful-question {
        padding-left: 15px;
    }
    .post-left .box-comment .write-comment {
        padding-left: 15px;
    }
    .post-left .box-comment .body-comment .ava-bloger {
        margin-left: 0;
    }
    .content-comment {
        padding-left: 0;
    }
}
@media only screen and (max-width: 992px) {
    .post-right .bloger-like .btn-favorite {
        background: url(../img/icon-clip-post.png) 42% no-repeat;
        background-color: #000;
    }
    .content-group {
        margin: 0 15px 30px 15px;

    }
    .post-detail .post-right {
        padding: 0px ;
        .box-top-post .list-top-post {
            padding: 0px 15px;
        }
    }
    .post-right .bloger-like {
        margin: 0 15px 40px 15px;
    }
    .post-detail .post-right .box-top-post .list-top-post .top-post-detail a.top-post-img {
        padding-left: 0;
        padding-right: 15px;
        img {
            width: 100%;
            height: 150px;
        }
    }
    .post-right .post-author {
        padding-left: 15px;
    }
    .post-left {
    padding-right: 0;
 }
 .post-left .post-body {
        padding-right: 15px;
    }
    .post-left .helpful-question {
        padding-right: 15px;
    }
    .post-left .box-comment .write-comment {
        padding-right: 15px;
    }
    .post-detail .post-right .box-top-post .list-top-post .top-post-detail .top-post-content {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .post-detail .post-right .box-top-post .list-top-post .top-post-detail a.top-post-img {
        padding-left: 0;
        padding-right: 15px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .post-right .bloger-like .btn-favorite {
        background: url(../img/icon-clip-post.png) 38% no-repeat;
        background-color: #000;
    }
}
@media only screen and (max-width: 523px) {
    .post-right .bloger-like .btn-favorite {
        background: url(../img/icon-clip-post.png) 32% no-repeat;
        background-color: #000;
    }
}
@media only screen and (max-width: 523px) {
    .post-right .bloger-like .btn-favorite {
        background: url(../img/icon-clip-post.png) 24% no-repeat;
        background-color: #000;
    }
    .tags {
        height: auto;
    .menu-toc {
        float: left;
    }
 }
}