// slide-banner
.jumbotron {
    height: 460px;
    margin-bottom: 0px;
    background-image: url(../img/img-slide-1.png);
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    color: white;
    padding-top: 99px;
    padding-bottom: 79px;
    h1 {
    	font-size: 60px;
    	font-weight: 300;
    	text-transform: uppercase;
    	margin: 0;
    	line-height: 45px;
    	margin-bottom: 50px;
    }
    p.text-slide {
    	width: 40%;
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    	font-size: 18px; // 0304
    	font-weight: 300;
    	line-height: 25px;
    	margin-bottom: 48px;
    }
    p.btn-join {
    	margin: 0;
    	box-shadow: 0;
    	a {
			border: 2px solid #fff;
            border-radius: 5px;
            padding: 7px 30px;
            color: #fff;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 5px;
            background: none;
            &:hover {
            	background-color: #5cbab9;
            }
    	}
    }
}
// end slide
