/bootstrap/compiled.php
/vendor
*.log
composer.phar
composer.lock
.DS_Store
Thumbs.db
/.idea
/public/uploads/images/*
nbproject
/nodejs/node_modules/*
_ide_helper.php
node_modules
app/storage/debugbar
/public/img/groups/*
/public/img/themes/*
/public/sitemap.xml
*.sql
app/databases/backup
/public/uploads/export/*
/public/css_min/*
/public/js_min/*
/public/js_min/
/public/css_min/*
/public/css_min/
.env.*.
.env.
.env
