.basicpopup-overlay {
    background: #000;
    height: 100%;
    left: 0;
    opacity: .8;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9000;
}

.basicpopup-outer {
    display: table;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9100;
}

.basicpopup-inner {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}

.basicpopup-btn-close {
    -webkit-box-shadow: none;
    background: transparent;
    border: 0;
    box-shadow: none;
    color: #e1df19;
    cursor: pointer;
    display: block;
    filter: alpha(opacity=65);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
    height: 44px;
    line-height: 37px;
    opacity: 1;
    outline: none;
    overflow: visible;
    padding: 0 0 18px 10px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 44px;
    z-index: 1046;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}
.basicpopup-btn-close:hover, .basicpopup-btn-close:focus {
    opacity: 1;
}

.basicpopup-content {
    margin: 0 auto;
    position: relative;
    width: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
   .basicpopup-btn-close {
        display: block;
   }
}