body {
  font-family: 'Open Sans', Verdana, 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, Meiryo, "游ゴシック", YuGothic, sans-serif;
  color: #131313;
}
body {
  font-weight: 300;
}
body ul {
  padding: 0;
  margin: 0;
}
body ul li {
  list-style: none;
}
.container {
  padding: 0;
}
.navbar {
  position: fixed;
  top: 0;
  height: 60px;
  border: none;
  margin: 0;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 0;
  line-height: 60px;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
.navbar a {
  font-size: 18px;
  color: #000;
}
.navbar .header .left {
  float: left;
  padding-left: 0;
}
.navbar .header .left .global-logo {
  margin-right: 60px;
  display: inline;
  float: left;
}
.navbar .header .left .box-search {
  float: left;
  margin-right: 30px;
}
.navbar .header .left .box-search .search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: solid 1px #000;
  cursor: pointer;
  background-color: #fff;
  line-height: 30px;
  margin-right: 0;
}
.navbar .header .left .box-search .search-box + label .search-icon {
  color: black;
}
.navbar .header .left .box-search .search-box:hover {
  color: white;
  background: #fff;
  box-shadow: 0 0 0 5px #e1df19;
}
.navbar .header .left .box-search .search-box:hover + label .search-icon {
  color: white;
}
.navbar .header .left .box-search .search-box.search-icon-submitable {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 150px;
  border-radius: auto;
  color: black;
  outline: 0;
}
.navbar .header .left .box-search .search-box.search-icon-submitable + label .search-icon {
  color: black;
}
.navbar .header .left .box-search .search-box:not(:focus) {
  text-indent: -5000px;
}
.navbar .header .left .box-search #search-submit {
  position: relative;
  left: -5000px;
}
.navbar .header .left .box-search .search-icon {
  position: relative;
  left: -33px;
  top: -1px;
  color: white;
  cursor: pointer;
}
.navbar .header .left .box-search label {
  margin-bottom: 0;
  max-width: 0;
}
.navbar .header .left .menu-list {
  float: left;
}
.navbar .header .left .menu-list li {
  display: inline;
  margin-right: 30px;
}
.navbar .header .right {
  float: right;
}
.navbar .header .right .name-theme {
  float: left;
  margin-right: 20px;
  color: #e1df19;
}
.navbar .header .right .name-theme span {
  font-size: 13px;
  padding: 3px 10px;
  background-color: #000;
  letter-spacing: 0.5px;
}
.navbar .header .right .user-link {
  float: left;
}
.navbar .header .right .user-link li {
  display: inline;
  margin-right: 15px;
}
.navbar .header .right .user-link li.post a {
  background: url(../img/btn-header-post.png) left no-repeat;
  padding-left: 25px;
}
.navbar .header .right .user-link li.drafts a {
  background: url(../img/btn-header-drafts.png) left no-repeat;
  padding-left: 25px;
}
.navbar .header .right .user-login {
  float: left;
  position: relative;
  margin: 0;
}
.navbar .header .right .user-login .user-avartar {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center center !important;
  background-size: cover !important;
  margin-top: 15px;
  margin-right: 5px;
}
.navbar .header .right .user-login .user-dropdown {
  display: block;
  position: absolute;
  width: 180px;
  background-color: #e7e7e7;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  z-index: 100;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 55px;
  right: 0;
  padding: 0;
}
.navbar .header .right .user-login .user-dropdown:after {
  content: "";
  position: absolute;
  top: -10px;
  right: 2%;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #e7e7e7 transparent;
  display: block;
  width: 0;
}
.navbar .header .right .user-login .user-dropdown ul {
  padding: 0;
  margin: 0;
}
.navbar .header .right .user-login .user-dropdown ul li {
  list-style: none;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #dcdcdc;
  padding: 5px 10px;
  float: left;
}
.navbar .header .right .user-login .user-dropdown ul li .glyphicon {
  float: left;
  top: 4px;
  font-size: 12px;
  margin-right: 8px;
  color: #5e5d5d;
}
.navbar .header .right .user-login .user-dropdown ul li a {
  float: left;
  font-size: 14px;
  font-weight: 400;
  color: #5e5d5d;
  display: inline-block;
  width: 85%;
  line-height: initial;
}
.navbar .header .right .user-login .user-dropdown ul li:hover {
  background-color: #57b8b7;
  border-radius: 3px;
}
.navbar .header .right .user-login .user-dropdown ul li:hover a {
  color: #fff;
}
.navbar .header .right .user-login .user-dropdown ul li:hover .glyphicon {
  color: #fff;
}
.navbar .header .right .btn-notify {
  margin-right: 15px;
  position: relative;
}
.navbar .header .right .btn-notify .notify-down {
  display: block;
  width: 270px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  z-index: 100;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 55px;
  right: -80px;
  background-color: #e7e7e7;
  padding: 6px 3px 3px 3px;
}
.navbar .header .right .btn-notify .notify-down:after {
  content: "";
  position: absolute;
  top: -10px;
  right: 30%;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #e7e7e7 transparent;
  display: block;
  width: 0;
}
.navbar .header .right .btn-notify .notify-down p {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #000;
  padding-left: 10px;
  padding-top: 7px;
  text-transform: uppercase;
  line-height: initial;
}
.navbar .header .right .btn-notify .notify-down div.notify-loading {
  position: relative;
  overflow: visible;
  text-align: center;
  border-bottom: 0px;
  margin: 15px auto;
}
.navbar .header .right .btn-notify .notify-down .notify-loading {
  background-image: url(../img/notif-loading.gif);
  height: 11px;
  width: 16px;
  vertical-align: middle;
}
.navbar .header .right .btn-notify .notify-down a.notify-setting {
  float: right;
  width: 18px;
  height: 18px;
  margin-right: 7px;
  margin-top: 7px;
  background: url(../img/icon-setting-notify.png) center center;
}
.navbar .header .right .btn-notify .notify-down a.notify-setting:hover {
  background: url(../img/icon-setting-notify-hover.png) center center;
}
.navbar .header .right .btn-notify .notify-down .notify-list {
  border-radius: 3px;
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 2px;
}
.navbar .header .right .btn-notify .notify-down .notify-list .notify-avar {
  margin-right: 10px;
  float: left;
  height: 45px;
  width: 45px;
  border-radius: 22.5px;
  background-position: center center !important;
  background-size: cover !important;
}
.navbar .header .right .btn-notify .notify-down .notify-list .notify-n-t {
  width: 182px;
  float: left;
  line-height: 1 !important;
}
.navbar .header .right .btn-notify .notify-down .notify-list .notify-n-t .notify-name {
  font-weight: 400;
  padding-bottom: 5px;
}
.navbar .header .right .btn-notify .notify-down .notify-list .notify-n-t .notify-name a {
  font-size: 13px !important;
  font-weight: 400;
  color: #5e5d5d;
}
.navbar .header .right .btn-notify .notify-down .notify-list .notify-n-t .notify-name .blueName, .navbar .header .right .btn-notify .notify-down .notify-list .notify-n-t .notify-name .blueTitle {
  color: #53b7b6;
}
.navbar .header .right .btn-notify .notify-down .notify-list .notify-n-t .notify-time {
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  color: #898989;
}
.navbar .header .right .btn-notify .notify-down .notify-list:hover {
  background-color: #fcfcfc;
}
.navbar .header .right .btn-notify .notify-down .notify-list.fader {
  opacity: 0;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.navbar .header .right .btn-notify .notify-down .height-notify-seemore {
  line-height: 20px;
}
.navbar .header .right .btn-notify .notify-down .height-notify-seemore .notify-seemore {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #0fa19f;
  font-size: 13px;
  font-weight: 400;
}
.navbar .header .right .btn-notify .notify {
  position: absolute;
  top: 14px;
  left: 12px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #e1df19;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
}
.navbar-scroll {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.1);
}
footer {
  background-color: #000;
  padding-top: 55px;
  margin: 10px;
  position: relative;
}
footer ul {
  padding: 0;
}
footer a.btn-top {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 28px;
  background: url(../img/btn-top.png) no-repeat;
  top: -83px;
  right: -88%;
}
footer .box-footer .title-box {
  color: #878787;
  padding-bottom: 22px;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: solid 1px #161616;
  position: relative;
  margin-bottom: 30px;
  font-weight: normal;
}
footer .box-footer .title-box:before {
  position: absolute;
  content: "";
  background: #e1df19;
  height: 1px;
  width: 70px;
  top: 41px;
}
footer .facebook-footer {
  padding-left: 0;
}
footer .tag-footer .box-tag li {
  display: inline;
}
footer .tag-footer .box-tag li a {
  display: inline-block;
  color: #878787;
  font-size: 13px;
  padding: 2px 8px;
  border: solid 1px #1c1c1c;
  margin-bottom: 10px;
  margin-right: 3px;
}
footer .tag-footer .box-tag li:last-child {
  /* color: #e1df19; */
}
footer .tag-footer .box-tag li:last-child a {
  font-weight: bold;
}
footer .author-footer .box-author li {
  float: left;
}
footer .author-footer .box-author li a {
  display: inline-block;
  width: 56px;
  height: 56px;
  margin-right: 9px;
  margin-bottom: 5px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: none !important;
}
footer .feedback-footer .box-feedback {
  font-weight: normal;
}
footer .feedback-footer .box-feedback ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #2b2b2b;
}
footer .feedback-footer .box-feedback :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #2b2b2b;
  opacity: 1;
}
footer .feedback-footer .box-feedback ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #2b2b2b;
  opacity: 1;
}
footer .feedback-footer .box-feedback :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #2b2b2b;
}
footer .feedback-footer .box-feedback input {
  width: 100%;
  height: 28px;
  color: #878787;
  background: none;
  border: solid 1px #2b2b2b;
  margin-bottom: 10px;
  padding-left: 5px;
}
footer .feedback-footer .box-feedback textarea {
  width: 100%;
  color: #878787;
  background: none;
  border: solid 1px #2b2b2b;
  margin-bottom: 6px;
  padding-left: 5px;
}
footer .feedback-footer .box-feedback button {
  float: right;
  font-size: 14px;
  border: none;
  background-color: #e1df19;
  text-transform: uppercase;
  padding: 3px 30px;
  color: #2b2b2b;
  font-weight: 600;
}
footer .last-footer {
  margin-top: 40px;
  border-top: solid 1px #0d0d0d;
  padding: 25px 0;
  font-weight: normal;
}
footer .last-footer .copyright {
  color: #3d3d3d;
  font-size: 14px;
  text-transform: uppercase;
}
footer .last-footer .team-privacy {
  float: right;
}
footer .last-footer .team-privacy li {
  float: left;
}
footer .last-footer .team-privacy li a {
  color: #3d3d3d;
  font-size: 13px;
  margin-right: 15px;
  border-right: solid 1px #222;
  padding-right: 15px;
  text-decoration: none;
  cursor: pointer;
}
footer .last-footer .team-privacy li:last-child a {
  border-right: none;
  margin-right: 0;
  cursor: text;
}
footer .last-footer .team-privacy li a span {
  width: 19px;
  height: 18px;
  display: inline-block;
  background: url("../img/world_flags.png");
}
footer .last-footer .team-privacy li a span.flag_en {
  background-position: -240px 258px;
}
footer .last-footer .team-privacy li a span.flag_vi {
  background-position: -20px 50px;
}
footer .last-footer .team-privacy li a span.flag_ja {
  background-position: -60px 114px;
}

/*
 .modal-dialog {
 margin-top: 10%;
 }
 */.CodeMirror-code pre {
  background: none !important;
}
.break-word {
  word-wrap: break-word;
  word-break: keep-all;
  word-break: break-word;
}
