#draft {
    padding: 0;
}

#draftsPreview {
    padding: 0;
}

#draftsSidebar {
    padding-right: 0;
    border-right: 1px solid #e6e6e6;
}

.full-height {
    height: 100%;
}

#draftsSidebarHeader {
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.draftsSidebarItem {
    border-bottom: 1px solid #e6e6e6;
    background-color: rgb(240, 240, 240);
}

.draftsSidebarItem :hover {
    text-decoration: none;
    cursor: hand;
}

.draftsPreviewHeader {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #e6e6e6;
}

.draftsPreviewHeader_title {
    padding-left: 30px;
}

.draftsPreviewHeader_title > .btn {
    margin-right: 10px;
}

.draftsPreviewHeader_tags {
    padding-left: 30px;
}

.draftsPreviewContent {
    padding-left: 10px;
    padding-top: 10px;
}