.group-height {
  height: 100px !important;
}
.group-height .group-image {
  height: 100%;
  width: 34%;
  float: left;
}
.group-height .group-information {
  height: 100%;
  width: 66%;
  float: left;
}
.group-height .group-information .full-size {
  width: 100%;
  height: 100%;
}
.group-height .group-information .full-size .top {
  height: 80%;
  float: left;
  width: 33%;
  text-align: center;
}
.group-height .group-information .full-size .bottom {
  height: 20%;
  float: left;
  width: 33%;
  text-align: center;
}
.group-height .group-name {
  width: 100%;
  float: left;
}
.group-menu ul li a {
  display: inline !important;
}
/*.dropdown:hover .dropdown-menu {
 display: block;
 }*/.group-posts-series {
  display: block;
}
.group-posts-series p {
  font-size: 15px;
  font-weight: 400;
  color: #0fa19f;
  text-transform: capitalize;
}
.group-posts-series a {
  display: block;
}
.group-posts-series .see-more-items {
  display: block;
}
.group-posts-series .see-more-items a {
  float: right;
}
.menu-list li.dropdown a {
  color: #000;
  font-size: 18px;
  transition: 0.5s ease-out;
}
.menu-list li.dropdown a .caret {
  margin-left: 6px;
}
.menu-list li.dropdown a ul.dropdown-menu {
  border-radius: 0;
  width: 215px;
  padding: 0;
  line-height: 1.5;
  border: 1px solid #e1e1e1;
  background: url("../img/bg-group.png") repeat;
  box-shadow: none;
}
.menu-list li.dropdown:hover ul.dropdown-menu {
  border-radius: 0;
  display: block;
  width: 215px;
  padding: 0;
  line-height: 1.5;
  border: 1px solid #e1e1e1;
  box-shadow: none;
}
.menu-list li.dropdown:hover ul.dropdown-menu:before {
  position: absolute;
  content: "";
  background: url("../img/icon-drop.png") no-repeat;
  top: -7px;
  left: 21px;
  width: 13px;
  height: 7px;
}
.menu-list li.dropdown:hover ul.dropdown-menu li {
  display: inline-block !important;
  margin-right: 0 !important;
  width: 100%;
  line-height: 36px;
  border-bottom: 1px solid #e1e0dc;
}
.menu-list li.dropdown:hover ul.dropdown-menu li a {
  display: block;
  padding: 10px 0px 10px 20px;
  color: #000;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.5;
}
.menu-list li.dropdown:hover ul.dropdown-menu li a img {
  width: 30px;
  height: 30px;
  background-position: center !important;
  background-size: cover !important;
  margin-right: 15px;
}
.menu-list li.dropdown:hover ul.dropdown-menu li.see-all {
  background: #e1e0dc;
  padding-bottom: 0;
  border: 0;
  text-align: center;
}
.menu-list li.dropdown:hover ul.dropdown-menu li.see-all a {
  padding-left: 0;
}
.navbar-menu-name-groups {
  overflow: hidden;
  width: 95%;
  white-space: nowrap;
}
.text-justify {
  text-align: justify;
}
.ul-none-padding {
  padding: 0px;
  list-style: none;
}
.margin-sm-top {
  margin-top: 5px;
}


