.search .alert {
    margin-bottom: 0px;
}
.search-results h3 {
    display: inline-block;
    font-weight: bold;
    white-space: nowrap;
}
.search-results a {
    text-decoration: none;
}
.search-results .author {
    font-size: 14px;
    font-weight: normal;
    color: #0D3E5A;
    margin-left: 20px;
}
.search-results .content {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 0;
    color: #555555;
    overflow: hidden;
    position:relative;
    max-height: 100px;
    margin-bottom: 10px;
}
.search-results section {
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.search-results .pagination {
    margin: 10px 0 0;
}